# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
venv/

# Logs
*.log

# Database files
*.db
*.sqlite3

# Docker artifacts
*.db
*.sqlite3

# Testing / Linting cache
.mypy_cache/
.pytest_cache/

# Jupyter Notebooks
notebooks/

# OS Files
.DS_Store
Thumbs.db